body {
	font-family: "Lucida Console", Monospace;
	background-image: url(https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
	background-position: center;
	background-size: cover;
	font-size: 1.3vw;
}

hr {
	width: 60%;
	color: #000000;
	box-shadow: 2px 2px 1px #FBE7C6;
}

h1 {
	font-family: "Verdana",sans-serif;
	text-shadow: 0 0 3px #FF0000;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 3vw;
	color: #F9D342;
}

h2 , h3 {
	text-align: center;
	font-family: "Georgia",serif;
	text-shadow: 0 0 3px #FF0000;
	font-size: 2.8vw;

}


button {
	margin: 8px;
	background-color:	#FF69B4;
	border-radius: 8px;
	box-shadow: 5px 5px 3px #FBE7C6;
	padding: 1em;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: #fcc1b6	;
	border: 1px solid black;
	font-family:"Verdana",sans-serif; 
	margin-top: 0.6em;
}

tr {
	width: 100%;
	text-align: center;
	margin-right: 1em;
	border: 1px solid black;
}

td{ 
	border-right: 1px solid black;

}

.hidden{
	display: none; 
}

.column {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.inputGroup {
	display: flex;
	flex-wrap: wrap;
}

.gen-style {
	display: flex;
	flex-direction: column;
}



/*for mobiles(potrait)*/

@media (min-width: 320px) and (max-width: 480px){
	body{
		font-size: 5vw;
	}

	h1 {
	font-family: "Verdana",sans-serif;
	text-shadow: 0 0 3px #FF0000;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 8vw;
	color: #F9D342;
   }

	h2,h3 {
		font-size: 6vw;
	}
	#userDetails{
		margin: 0;
		background-color: #fcc1b6;
		border-radius: 8px;
	}

	.row {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}


	.inputGroup{

		display: flex;
		flex-direction: column;
		padding: 0.5em 0;

	}
	#userDetails label {
		display: none;
	}

	.printResult{
		margin: 0 auto;
		background-color: #A9A9A9;
		border-radius: 8px;
		padding: 1em;
	}

	 #userDetails .show {
	 	display: block;
	 }
	 #userDetails input {
	 	margin:0.1em; 
	 }
	
   td {
   	font-size: 2vw;
   }

}


/*for tabs(potrait)*/
@media (min-width: 481px) and (max-width: 810px){

	body{
		font-size: 2.8vw;
	}

	.row {
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	.inputGroup{

		display: flex;
		flex-direction: column;
		padding: 0.5em 0;

	}
	#userDetails label {
		display: block;
	}

	#userDetails {
		background-color: #fcc1b6;
		border-radius: 8px;
		padding: 1em;
		margin:0 4.8em 4em 4.8em;
	}

	.printResult{
		margin: 1em auto;
		background-color: #A9A9A9;
		border-radius: 8px;
		padding: 1em;
	}

}

/*for laptops*/

@media (min-width: 811px){


	.printResult {

		background-color: #A9A9A9;
		border-radius: 8px;
		padding: 1em;
		margin:0 auto;
	}

	#userDetails label {
		margin-right: 1em; 
		padding: .5em 0;
	}

	#userDetails {
		background-color: #fcc1b6;
		border-radius: 8px;
		padding: 1em;
		margin:0 10em 4em 10em;
	}

	.row{
		display: flex;
		justify-content: center;
	}

	#userDetails input, #userDetails select {
		flex: 6;
		padding: .5em;
		margin-bottom: 1.5em;
	}


}



